<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p><strong>{{ site.title }}</strong> ⏤ {{ site.description }}</p>
            <p>Mis à jour le {{ site.time | date: '%e %b %Y' }} à {{ site.time | date: '%Hh%M' }}.</p>
            <p>
                {% include _scripts/mail_obfuscated.html %}
                {% include _meta/twitter.html %}
                {% include _meta/github.html %}
                {% include _meta/rss.html %}
                {% include _meta/license.html %}
            </p>
        </div>
    </div>
</footer>
