<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <ul class="pagination-list">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <li><a class="pagination-link" href="/"><i class="fa fa-fast-backward"></i></a></li>
        <li><a class="pagination-link" href="/"><i class="fa fa-step-backward"></i></a></li>
      {% else %}
        <li><a class="pagination-link" href="/"><i class="fa fa-fast-backward"></i></a></li>
        <li><a class="pagination-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-step-backward"></i></a></li>
      {% endif %}
    {% else %}
      <li><a class="pagination-link" href="#" disabled><i class="fa fa-fast-backward"></i></a></li>
      <li><a class="pagination-link" href="#" disabled><i class="fa fa-step-backward"></i></a></li>
    {% endif %}
    
    {% capture start %}{{ paginator.page | minus:3 }}{% endcapture %}
    {% capture end %}{{ paginator.page | plus:3 }}{% endcapture %}
    {% for count in (start..end) %}
      {% if count > 0 and count <= paginator.total_pages %}
        {% if count == paginator.page %}
            <li><a class="pagination-link is-current" href="#">{{count}}</a></li>
        {% else %}
          {% if count == 1 %}
            <li><a class="pagination-link" href="/">1</a></li>
          {% else %}
            <li><a class="pagination-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', count }}">{{count}}</a></li>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
    
    {% if paginator.next_page %}
      <li><a class="pagination-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-step-forward"></i></a></li>
      <li><a class="pagination-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', paginator.total_pages }}"><i class="fa fa-fast-forward"></i></a></li>
    {% else %}
      <li><a class="pagination-link" href="#" disabled><i class="fa fa-step-forward"></i></a></li>
      <li><a class="pagination-link" href="#" disabled><i class="fa fa-fast-forward"></i></a></li>
    {% endif %}
  </ul>
</nav>