<!-- Google Custom Search Engine -->
<form action="http://www.google.com/cse" id="cse-search-box" _lpchecked="1" class="navbar-form navbar-right" role="search">
    <input type="hidden" name="cx" value="007528237610497066360:tooxybveeoo">
    <input type="hidden" name="ie" value="UTF-8">
    <input name="siteurl" type="hidden" value="{{ site.url }}">
    <input name="ref" type="hidden" value="">
    <input name="ss" type="hidden" value="">
    <div class="field">
        <div class="control">
            <input type="text" class="input" name="q" style="background: url(https://cse.google.com/cse/intl/en/images/google_custom_search_watermark.gif) 0% 50% no-repeat rgb(255, 255, 255);">
        </div>
    </div>
</form>
<!-- END Google Custom Search Engine -->