<div class="container excerpt">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8 col-md-push-2 col-xs-12">
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <div class="text-content">
		  {% if post.excerpt != blank %}
		  	{{ post.excerpt }}
		  {% else %}
		  	{{ post.content | truncatewords:100 }}
		  {% endif %}
	  </div>
    </div>
    <div class="col-md-2 col-md-pull-8 col-xs-12 text-center">
      <h2>{{ post.date | date_to_string }}</h2>
      <br>
      <div class="label label-info">{{ post.content | number_of_words }} mots</div>
      <br>
        {% for cat in post.categories %}
          <div class="label label-default">{{ cat }}</div>
        {% endfor %}
    </div>
    <div class="col-md-1"></div>
  </div>
</div>