<div class="container-fluid" id="footer">
  <div class="row">
    
    <div class="col-md-4 col-sm-6">
      <ul class="no-bullet">
        <li>{{ site.title }}</li>
        <li>{{ site.description }}</li>
        <li><small>Tous droits réservés, sauf mention contraire.</small></li>
        <li><small>Mis à jour le {{ site.time | date: '%e %b %Y' }} à {{ site.time | date: '%Hh%M' }}.</small></li>
      </ul>
    </div>
    
    <div class="col-md-4 col-sm-6">
      <a href="mailto:{{ site.email }}" id="gh" target="_blank" title="Contact">
        <span class="fa-stack fa-lg">
          <i class="fa fa-at fa-stack-1x"></i>
        </span>
        {{ site.email }}
      </a>
      <br>
      <a href="{{ "/feed.xml" | prepend: site.url }}" id="gh" target="_blank" title="RSS">
        <span class="fa-stack fa-lg">
          <i class="fa fa-rss-square fa-stack-1x"></i>
        </span>
        RSS
        </a>
    </div>
    
    <div class="col-md-4 col-sm-6">
      {% if site.twitter_username %}
      <a href="https://twitter.com/{{ site.twitter_username }}" id="gh" target="_blank" title="Twitter">
        <span class="fa-stack fa-lg">
          <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
        Twitter
      </a>
      {% endif %}
      {% if site.github_username %}
      <br>
      <a href="https://github.com/{{ site.github_username }}"  target="_blank" title="GitHub">
        <span class="fa-stack fa-lg">
          <i class="fa fa-github fa-stack-1x"></i>
        </span>
        GitHub
      </a>
      {% endif %}
    </div>
    
  </div>
</div>
