<script src="{{ "/assets/jquery.min.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>

<script src="{{ "/assets/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>

<script src="{{ "/assets/imagesloaded.min.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ "/assets/masonry.min.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    // Initialize Masonry
    $('.grid').masonry({
        itemSelector: '.grid-item',
        columnWidth: '.grid-sizer',
        gutter: parseInt($('.grid-item').css('marginBottom')),
        percentPosition: true
    });
    // Resize on image load
    $('.grid').imagesLoaded().progress( function() {
      $('.grid').masonry('layout');
    });
</script>
