<div class="text-center pagination-content">
  <ul class="pagination pagination-lg">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <li><a href="/">&laquo;</a></li>
      {% else %}
        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
      {% endif %}
    {% else %}
      <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}
    
    {% capture start %}{{ paginator.page | minus:3 }}{% endcapture %}
    {% capture end %}{{ paginator.page | plus:3 }}{% endcapture %}
    {% for count in (start..end) %}
      {% if count > 0 and count <= paginator.total_pages %}
        {% if count == paginator.page %}
            <li class="active"><a href="#">{{count}}</a></li>
        {% else %}
          {% if count == 1 %}
            <li><a href="/">1</a></li>
          {% else %}
            <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', count }}">{{count}}</a></li>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
    
    {% if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><a href="#">&raquo;</a></li>
    {% endif %}
  </ul>
</div>