<a	class="twitter-timeline" 
	data-chrome="nofooter transparent noborders noscrollbar"
	data-tweet-limit="10"
	data-show-replies="true"
	href="https://twitter.com/valhallafr"
	data-widget-id="555505169728016385">Tweets de @valhallafr</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>