/**
* Masonry grid
*/

.grid {
    width: 98%;
    margin: 30px auto 0 2%;
}

$item-width: 23%;
.grid-sizer, 
.grid-item { width: $item-width; }
.grid-item.w2 { width: $item-width * 2 + 2; }
.grid-item.w3 { width: $item-width * 3 + 4; }
.grid-item.w4 { width: $item-width * 4 + 6; }

@media only screen and (max-width : $tablet) {
    $item-width: 48%;
    .grid-sizer, 
    .grid-item { width: $item-width; }
    .grid-item.w2 { width: $item-width * 2 + 2; }
    .grid-item.w3 { width: $item-width; }
    .grid-item.w4 { width: $item-width; }
}

@media only screen and (max-width : $phone) {
    $item-width: 98%;
    .grid-sizer, 
    .grid-item { width: $item-width; }
    .grid-item.w2 { width: $item-width; }
    .grid-item.w3 { width: $item-width; }
    .grid-item.w4 { width: $item-width; }
}

/** 
* Post title
*/

.grid-item h2 {
    font-variant: small-caps;
}

/** 
* Corner Ribbon
*/

.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
  background: #79A70A;
  line-height: 20px;
  transform: rotate(45deg);
  width: 100px;
  display: block;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
  
  &::before {
      content: "";
      position: absolute; left: 0px; top: 100%;
      z-index: -1;
      border-right: 3px solid transparent;
      border-bottom: 3px solid transparent;
  }
  
  &::after {
      content: "";
      position: absolute; right: 0px; top: 100%;
      z-index: -1;
      border-left: 3px solid transparent;
      border-bottom: 3px solid transparent;
  }
}

.ribbon-blue span {
    background: linear-gradient(#2989d8 0%, #1e5799 100%);
    
    &::before {
        border-left: 3px solid #1e5799;
        border-top: 3px solid #1e5799;
    }
    
    &::after {
        border-right: 3px solid #1e5799;
        border-top: 3px solid #1e5799;
    }
}

.ribbon-red span {
    background: linear-gradient(#F70505 0%, #8F0808 100%);
    
    &::before {
        border-left: 3px solid #8F0808;
        border-top: 3px solid #8F0808;
    }
    
    &::after {
        border-left: 3px solid #8F0808;
        border-top: 3px solid #8F0808;
    }
}

.ribbon-purple span {
    background: linear-gradient(#DE19DE 0%, #62327A 100%);
    
    &::before {
        border-left: 3px solid #62327A;
        border-top: 3px solid #62327A;
    }
    
    &::after {
        border-left: 3px solid #62327A;
        border-top: 3px solid #62327A;
    }
}

.ribbon-green span {
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    
    &::before {
        border-left: 3px solid #79A70A;
        border-top: 3px solid #79A70A;
    }
    
    &::after {
        border-left: 3px solid #79A70A;
        border-top: 3px solid #79A70A;
    }
}

.ribbon-silver span {
    background: linear-gradient(#B6BAC9 0%, #808080 100%);
    
    &::before {
        border-left: 3px solid #808080;
        border-top: 3px solid #808080;
    }
    
    &::after {
        border-left: 3px solid #808080;
        border-top: 3px solid #808080;
    }
}

.ribbon-gold span {
    background: linear-gradient(#F79E05 0%, #8F5408 100%);
    
    &::before {
        border-left: 3px solid #8F5408;
        border-top: 3px solid #8F5408;
    }
    
    &::after {
        border-left: 3px solid #8F5408;
        border-top: 3px solid #8F5408;
    }
}

.ribbon-teal span {
    background: linear-gradient(#05EFF7 0%, #087F8F 100%);
    
    &::before {
        border-left: 3px solid #087F8F;
        border-top: 3px solid #087F8F;
    }
    
    &::after {
        border-left: 3px solid #087F8F;
        border-top: 3px solid #087F8F;
    }
}

