


/**
 * Site footer
 */

#footer {
    background-color: $grey-color-light;
    padding-top: $spacing-unit;
    
    font-size: $small-font-size;
    
    /*
    border-top-left-radius: 100px 50px;
    border-top-right-radius: 100px 50px;
    */
}

/**
 * Page content (main container, see default.html layout)
 */
#page-content {
}

/**
 * Text content : every text bloc should be wrapped in this container
 */
.text-content {
    line-height: $base-line-height;
    font-size: $base-font-size * 1.10;
}

.pagination-content {
    background-color: $grey-color-lighter;
}

.excerpt {
    margin: $spacing-unit 0;
}

/**
 * Generic containers for images with text wrapped around
 */
.wrap-left {
    float: left;
    margin-right: $spacing-unit;
}
.wrap-right {
    float: right;
    margin-left: $spacing-unit;
}