/**
 * Links
 */


a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
		text-decoration: none;
    }

    &:hover {
        color: $text-color;
		text-decoration: none;
    }
}


/*
Links (<a> tag) INSIDE <div class="text-content">.
This class is used for EXCERPT and BODY of the posts.
All other links (post title, navbar...) MUST be excluded from this style.
*/

/*
.text-content a {
	color: $text-color;
	border-bottom: 2px solid #b4e7f8;
	box-shadow: inset 0 -5px 0 #b4e7f8;
	
	&:hover {
		text-decoration: none;
		border-bottom: 2px solid #a2d0df;
		box-shadow: inset 0 -5px 0 #a2d0df;
	}

}
*/

