@charset "utf-8";

// Load Bulma initial configuration
// Bulma default properties are overriden below
@import "bulma/sass/utilities/initial-variables";

// Colors

$grey: #6a7b8d;
$grey-light: #8695a4;
$grey-dark: #546270;

$text: $grey;
$text-light: $grey-light;
$text-strong: $grey-dark;

$primary: #8A2BE2;
$white-ter: #f1f3f4;

// Links
$link: $primary;             // link color, used by bulma & valhalla
$linkUnderlineHeight: 0%;   // link underline, used by valhalla

$link-visited: $link;
$link-hover: $white-ter;
$link-focus: $link;
$link-active: $link;

// Global background color
$body-background-color: $white-ter;
$footer-background-color: $white-ter;
$navbar-background-color: $white-ter;

// Several elements get this color as background
$background: $primary;

// Navbar
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: $primary;
$navbar-dropdown-item-hover-color: $white;
$navbar-dropdown-item-hover-background-color: $primary;

// Pagination
$pagination-hover-color: $primary;

// Blockquote
$content-blockquote-background-color: $white;

// Fonts
@import "valhalla/fonts";

$family-sans-serif: "Avenir Next";
$family-monospace: monospace;

// Other Imports
@import
    "valhalla/links",
    "valhalla/lists",
    "valhalla/review"
;

// Import Bulma
@import "bulma/bulma";