{% for post in paginator.posts %}
<div class="columns">
    <div class="column is-8 is-offset-2">
        <span class="post date">{% include _scripts/shortdatefr.html %}</span> ⏤ 
        <a class="post link" href="{{ post.url }}">{{ post.title }}</a> ⏤ 
        <span class="post excerpt">
            {% if post.excerpt %}
                {{ post.excerpt }}
            {% elsif post.content contains '<!--more-->' %}
                {{ post.content | split:'<!--more-->' | first }}
            {% else %}
                {{ post.content | strip_html | truncatewords:50 }} (...)
            {% endif %}
            <small>
             • {{ post.content | number_of_words }} mots 
             • #{{ post.tags | join: ' #' }}
            </small>
         </span>
    </div>
</div>
{% endfor %}