{% for post in paginator.posts %}
<div class="columns" itemscope itemtype="http://schema.org/Article">
    <meta itemprop="wordCount" content="{{ post.content | number_of_words }}" />
    <meta itemprop="keywords" content="{{ post.tags | join: ',' }}" />
    <div class="column is-8 is-offset-2">
        <meta itemprop="datePublished" content="{{ post.date }}">
        <span class="post date">{% include _scripts/shortdatefr.html %}</span> ⏤ 
        <a class="post link" href="{{ post.url }}" itemprop="url">{{ post.title }}</a> ⏤ 
        <span class="post excerpt" itemprop="description">
            {% if post.excerpt %}
                {{ post.excerpt }}
            {% elsif post.content contains '<!--more-->' %}
                {{ post.content | split:'<!--more-->' | first }}
            {% else %}
                {{ post.content | strip_html | truncatewords:50 }} (...)
            {% endif %}
            <small>
             • {{ post.content | number_of_words }} mots 
             • #{{ post.tags | join: ' #' }}
            </small>
         </span>
    </div>
</div>
{% endfor %}