

@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Oswald&subset=latin-ext');

h1,h2,h3,h4,h5,h6 {
    font-family: "Oswald", sans-serif;
}



// normal case 
@font-face {
    font-family: "Avenir Next";
    src: url("/public/fonts/avenir/AvenirNext-Regular.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
    font-variant:normal;
}

// bold
@font-face {
    font-family: "Avenir Next";
    src: url("/public/fonts/avenir/AvenirNext-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style:normal;
    font-variant:normal;
}

// italic 
@font-face {
    font-family: "Avenir Next";
    src: url("/public/fonts/avenir/AvenirNext-Italic.ttf") format("truetype");
    font-weight:normal;
    font-style: italic;
    font-variant:normal;
}

// bold and italic
@font-face {
    font-family: "Avenir Next";
    src: url("/public/fonts/avenir/AvenirNext-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-variant:normal;
}