
.post.date {
    color: $text-light;
    font-style: italic;
}

.post.link {
    font-weight: bold;
}

.post.excerpt {
    color: $text-light;
}

ul {
    list-style: none;

    a {
        color: $link-underline;
        &::after {
            height: 0%;
        }
    }
}