.review {
	float:left;
	overflow: auto;
	padding: 10px;
}

.review table {
	background-color:#E6E6E6;
}

.review table tr th {
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
}

.review img {
	width: auto;
	max-width: 100%;
	display:block;
	margin: 0 auto;
}

.review-ato {
	
}