---
layout: default
title: Revue
permalink: /revue/index.html
---

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered">
                {{ page.title }}
            </h1>
            <div class="subtitle content">
                <p>&nbsp;</p>

                <p>La <b>Revue Valhalla.fr</b> présente chaque semaine l'actualité du droit des nouvelles technologies à l'aide de liens vers des articles originaux et d'analyses aidant le lecteur à saisir les évolutions de la matière les plus importantes.</p>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="content">
        <div class="columns">
            <div class="column is-8 is-offset-2">
            {% for post in site.categories.revue %}
                {% capture this_year %}{{post.date | date: "%Y"}}{% endcapture %}
                {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

                {% if forloop.first %}
                <h2 class="header is-2" id="{{ this_year }}">
                    {{ this_year }}
                </h2>
                {% endif %}

                {% include _content/post_line_tags.html %}

                {% if this_year != next_year %}
                <h2 class="header is-2" id="{{ next_year }}">
                    {{ next_year }}
                </h2>
                {% endif %}
                
                
            {% endfor %}
            </div>
        </div>
    </div>
</section>